<html>

<head>
 <%- include partials/head.ejs %>
</head><!-- /head -->

<body>

 <header>
 <%- include partials/header.ejs %>
 </header>

<div class="texttitle"><strong>HOW IT WORKS</strong></div>

  <div class="bgdrinks"></div>

<br>

<div id="flip">What is this web application?</div>
<div id="panel">Before you find a room in Amsterdam, find a room-mate in Amsterdam.<br>
                Finding somewhere to live in Amsterdam is possibly the biggest challenge facing everyone who comes to this city.<br>
                My application will try to match up people who are looking for a room in Amsterdam,
                with other people who are looking to find a room in Amsterdam, so that they can search together and hopefully live together</div>
<br>
<div id="flip2">Want to know more?</div>
<div id="panel2">Before you find a room in Amsterdam, find a room-mate in Amsterdam</div>

<br>
<div id="flip3">What are the goals of this application?</div>
<div id="panel3">
    1. Match up people who are trying to find somewhere to live in Amsterdam<br>
    2. Meet new people<br>
    3. Increase the number of possibilities for housing which would not have been affordable alone<br>
    4. Ultimately make it easier and less risky for people to find somewhere to live in Amsterdam </div>
    <br>
<div id="flip4">Want to know more?</div>
<div id="panel4">Before you find a room in Amsterdam, find a room-mate in Amsterdam</div>


    When you first arrive in a new city, it can be incredibly intimidating, as there is so much to do (setting up a bank account, finding a job, getting a BSN appointment), and finding somewhere to live can often be the most stressful part.

    I am still part of several Facebook groups for finding a room in Amsterdam, and these groups are either people advertising themselves to say that they are looking for somewhere to live, people who are advertising a room and are looking for someone to move in, or people who have (almost) been the victim of a scam which is often a falsely advertised room and are warning other users what to look out for.

    Often people who move here will be on a tight budget of what they can afford so this can limit the options of what they can look for, and may force someone to take a very small room where they are not even allowed to make use of parts of the apartment (see link above).

    The idea of my application is that people who are moving to / have just moved to Amsterdam can create an account, make a profile for themselves and then will answer 5 questions about their lifestyle. Based on these answers, the user will be shown other users who would be good roommate or an excellent roommate. After this the matched users can directly message each other and exchange personal information, and hopefully look for somewhere to live together.

    What I would like to do is offer a platform where people who are trying to find a room in Amsterdam, can first find a potential roommate in Amsterdam. This way, they can share knowledge, funding and can search together. This can be particularly beneficial if one person is unable to go to a viewing due to other commitments.  It can be very difficult, risky and time consuming to search for somewhere to live on your own, and that is why you should use my application.

    The specific goals of this application are as follows:

</p>


<div class="texttitle"><strong>HOW IT WORKS IN 3 EASY STEPS</strong></div>
      <div class="container">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><strong>Step 1. Create An Account</strong></h1>
              <p class="card-text"> <br><br> <br><br> <br><br><br><br>
                FIND A ROOM<span class="bold red">MATE</span> IN AMSTERDAM</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><strong>Step 2. Complete a Questionnaire</strong></h1>
              <p class="card-text">
                SELECT A ONE HOUR BLOCK OF TIME (FOR EXAMPLE 19:00-20:00)<br><br>SELECT A DAY OF THE WEEK<br><br>
                SEE ALL THE SPECIAL OFFERS, COMBINATION DEALS AND HAPPY HOURS AT THIS TIME</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><strong>Step 3. Meet your future roommate!</strong></h1>
              <p class="card-text"><br><br>ENJOY YOURSELF<br><br>*and enjoy alcohol responsibly</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<br>

<footer>
 <%- include partials/footer.ejs %>
</footer>

</body>

</html>
