<html>

<head>
 <%- include partials/head.ejs %>
</head>

<body>

 <header>
 <%- include partials/header.ejs %>
 </header>

<h1><strong>Find a roommate in Amsterdam</strong></h1>

<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>

<p class="fade">This is my text element that will fade when you hover over it.</p>


<img src="/src/img/tulip_key.jpg" alt="Tulip Key" width="200" height="400">
<h4>Find a Room</h4>
<h5>In Amsterdam</h5>

</img>

<footer>
 <%- include partials/footer.ejs %>
</footer>

</body>

</html>
