<html>

<head>
 <%- include partials/head.ejs %>
</head><!-- /head -->

<body>

 <header>
 <%- include partials/header.ejs %>
 </header>

<h1 class="fade">Messages</h1>
<h1>Under Construction. Coming late 2018</h1>

<div id="cf2" class="shadow">
  <img class="bottom" src="/src/img/tulip_key_with_text.jpg" width="600" height="1200" /><h3>Find a room in Amsterdam</h3>
  <img class="top" id="cf_onclick" src="/src/img/tulip_key_with_text_faded.jpg" width="600" height="1200" /><h3>Find a roommate in Amsterdam</h3>
</div>
<!-- <p id="cf_onclick">Click here to get started</p> -->

<br>
<br>
<br>

<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>

<p class="fade">I Am A Hidden Message</p>


<!-- <img src="/src/img/tulip_key.jpg" alt="Tulip Key" width="200" height="400"> -->
<h4>Find a Room</h4>
<h5>In Amsterdam</h5>

<br><br> <br><br><br><br>
  FIND A ROOM<span class="bold red">MATE</span> IN AMSTERDAM</p>

<footer>
 <%- include partials/footer.ejs %>
</footer>

</body>

</html>
